/* 기본 설정 */
* {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
}
body {
	font-family : "Montserrat", sans-serif;
	color : #666;
	background-color : #fff;
	font-size : 18px;
}
ul { list-style : none; }
a:link, a:visited {
	color : #333;
	text-decoration : none;
}
a:hover, a:focus {
	color : #a0d1e6;
	text-decoration : none;
}
h1 { font-family : "Playfair Display", serif; font-size : 56px; color : #222; }
h2 { font-family : "Playfair Display", serif; font-size : 48px; color : #222; }
h3 { font-family : "Playfair Display", serif; font-size : 40px; color : #222; }
h4 { font-family : "Playfair Display", serif; font-size : 24px; color : #222; }
h5 { font-family : "Playfair Display", serif; font-size : 18px; color : #222; }
h6 { font-family : "Playfair Display", serif; font-size : 16px; color : #222; }
/* 전체 레이아웃 */
#wrapper {
	width : 100%;
	margin : 0 auto;
}
.wrapper {
	width : 1440px;
	margin : 0 auto;
	padding : 112px 64px;
}
/* 헤더 영역 */
#header {
	width : 100%;
	height : 72px;
	border-bottom : 1px solid #333;
	
}
.headerWrapper {
	width : 1440px;
	height : 72px;
	margin : 0 auto;
	padding : 0 64px;
	position : relative;
}
.logo {
	width : 150px;
	height : 70px;
	text-align : left;
	line-height : 70px;
	position : relative;
	right : 20px;
}
.logo img {
	height : 70px;
}
.mainMenu {
	position : absolute;
	left : 216px;
	top : 24px;
}
.mainMenu li {
	display : inline-block;
	padding-right : 32px;
}
.mainMenu li a {
	font-size : 16px;
}
.subMenu {
	position : absolute;
	right : 0;
	top : 16px;
}
.subMenu li {
	display : inline-block;
	border : 1px solid #333;
}
.subMenu a {
	display : block;
	padding : 8px 20px;
	font-size : 16px;
}
.subMenu > li:last-child {
	background-color : #cdeaf7;
	margin-left : 16px;
}
.subMenu > li:last-child:hover {
	background-color : #a0d1e6;
}
.subMenu > li:last-child:hover > a {
	color : #333;
}
/* hero section 영역 */
#hero {
	height : 870px;
	background : linear-gradient(#fff, #f0f7ff);
}
.heroText {
	width : 768px;
	height : 212px;
	margin : 0 auto;
}
.heroText h1 {
	text-align : center;
	line-height : 120%;
}
.heroText p {
	text-align : center;
	line-height : 150%;
	margin-top : 24px;
}
#heroPic-wrapper {
	width : 100%;
	height : 452px;
	overflow : hidden;
}
.heroPicFlex {
	width : 150%;
	height : 340px;
	display : flex;
	margin-bottom : 16px;
}
.heroPicFlex img {
	flex-shrink: 0;
	width : 416px !important;
	height : 340px !important;
	margin-right : 16px;
	object-fit : cover;
}
/* features section */
#features {
	width : 100%;
	height : 762px;
	background-color : #f8f9fa;
}
.featuresText {
	width : 1312px;
	height : 108px;
	margin : 0 auto 80px;
}
.featuresText h3 {
	width : 616px;
	height : 96px;
	float : left;
	line-height : 120%;
}
.featuresText p {
	width : 616px;
	height : 108px;
	float : right;
	line-height : 150%;
}
.featuresFlex {
	width : 1312px;
	height : 350px;
	margin : 0 auto;
	display : flex;
	justify-content: space-between;
}
.featuresCard {
	width : 304px;
	height : 350px;
	border : 1px solid #e5e5e5;
}
.cardImage {
	width : 304px;
	height : 160px;
	margin-bottom : 24px;
}
.cardImage img {
	width : 304px;
	height : 160px;
	object-fit : cover;
}
.cardText {
	width : 304px;
	height : 166px;
	padding : 21px 24px 0 24px;
}
.cardText > h5 {
	margin-bottom : 16px;
}
.cardText > p {
	font-size : 14px; 
}